* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

.root {
    max-width: 37.5rem;
    height: 100vh;
    margin: auto;
    padding: 10px 20px;

    display: grid;
    grid-template-rows: 2rem 1fr 4rem;
    gap: 10px;
}

/* -------------------- */
.ocultar {
    display: none;
}

.activar_b {
    display: block;
}

.activar_f {
    display: flex;
}

.activar_g {
    display: grid;
}