.titulo {
    font-size: 3rem;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.shopping-list {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.item:hover {
    background-color: rgb(175, 175, 175);
}

.name {
    font-size: 1.6rem;
    color: #383838;
}

.price {
    font-size: 1.6rem;
    color: #383838;
}

#formulario {
    text-align: center;
    margin-top: 20px;
}

#formulario input {
    margin: 5px;
    font-size: 16px;
    /* Asegurar que el tamaño de fuente sea al menos 16px */
}

#formulario button {
    padding: 5px 10px;
    font-size: 16px;
    /* Asegurar que el tamaño de fuente sea al menos 16px */
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    /* Asegurar que el tamaño de fuente sea al menos 16px */
}

.delete-button:hover {
    background-color: #ff0000;
}