
.titulo {
    font-size: 3rem;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.shopping-list {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.item:hover {
    background-color: rgb(175, 175, 175);
}

.name {
    font-size: 1.6rem;
    color: #383838;
}

.price {
    font-size: 1.6rem;
    color: #383838;
}

@media only screen and (max-width: 480px) {

}